node_modules
*.vsix
dist
out
coverage
*.log
*.tsbuildinfo
.vscode-test
*.code-workspace
*.sln
*.csproj
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs
*.vscode
*.DS_Store
*.eslintcache
*.prettiercache
*.tscache
*.cache
*.tmp